.detail-background {
    background-color: #f9f9f9;
}

.detail-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    padding: 10px 16px 0px 16px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    box-sizing: content-box;
}

.detail-main {
    flex-shrink: 0;
    margin-bottom: 24px;
    margin-right: 10px;
    width: 730px;
    padding: 32px;
    background-color: white;
}
.detail-main h1 {
    margin-top: 32px;
    color: #404040;
}
.detail-main article {
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 20px;
}
.detail-main p {
    margin-bottom: 20px;
}

.detail-aside {
    flex-shrink: 0;
    width: 260px;
}

.detail-buttons {
    position: fixed;
    top: 216px;
    left: 150px;
    display: flex;
    flex-direction: column;
}
.detail-buttons > div {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail-buttons button {
    width: 48px;
    height: 48px;
    font-size: 18px;
    border-radius: 50%;
    background-color: #fff;
    color: grey;
    box-shadow: 0 2px 10px rgb(0 0 0 / 5%);
    border-color: transparent;
}
.detail-buttons span {
    margin-top: 4px;
    font-size: 14px;
    text-align: center;
    color: #969696;
    overflow: hidden;
    height: 19px;
}

.detail-author {
    font-size: 13px;
    margin-bottom: 32px;
    display: flex;
}
.detail-author img {
    border-radius: 50%;
    border: 1px solid #eee;
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.detail-author .row1 {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.detail-author .row1-author {
    font-size: 16px;
    font-weight: 500;
    margin-right: 8px;
}
.detail-author .row1 img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.detail-author .row1 button {
    font-size: 12px;
    padding: 2px 9px;
    color: #ec7259;
    border: 1px solid #999;
    border-color: #ec7259;
    background-color: #fff;
    border-radius: 50px;
}
.detail-author .row1-ip {
    margin-left: 5px;
    font-size: 12px;
    color: #9a9a9a;
    line-height: 11px;
}

.detail-author .row2 {
    display: flex;
    align-items: center;
}
.detail-author .row2 span:not(.diamond) {
    font-size: 12px;
    color: #9a9a9a;
    line-height: 11px;
    margin-right: 8px;
}

.detail-aside section {
    background-color: white;
    padding: 16px;
}
.detail-aside section h3 {
    font-size: 16px;
    padding-left: 6px;
    height: 18px;
    margin-bottom: 16px;
    margin-top: 0px;
    border-left: 4px solid #ec7259;
    font-weight: 500;
    line-height: 20px;
}
.detail-aside section div {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: pointer;
}
.detail-aside section div:hover {
    text-decoration: underline;
}